@import url('https://font.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0F4C81;
}


/* Quiz Landing Heading */

#family-landing-icon{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    margin-left: 9.5rem;
    margin-top: -4rem;
}

#quiz-landing{
    font-family: 'Lato', sans-serif;
    font-size: 52px;
    color: #FFFFFF;
    margin-left: 22.8rem;
    margin-top: 8rem;
}


/* Quiz Game Section */

#quiz-instruction{
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    color: #FFFFFF;
    margin-left: 34.8rem;
    margin-top: 12rem;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 34.8rem;
    margin-top: 2rem;
}